{# read and display all flash messages #}


{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}