{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% include '_elements/_flash_message.html.twig' %}
    
    <div class="row mt-5 justify-content-md-center">
        <div class="col-md-auto">

            <div class="card">
                <div class="card-header text-center">Réinitialiser votre mot de passe</div>
                <div class="card-body text-center">
                    {% form_theme changePasswordForm '_form/_form_theme.html.twig' %}
                    {{ form_start(changePasswordForm) }}
                    <div class="mb-2">
                        {{ form_row(changePasswordForm.oldPassword) }}
                    </div>
                    <div class="mb-2">
                        {{ form_row(changePasswordForm.plainPassword) }}
                    </div>
                    <div class="mb-2">
                        <button class="btn btn-primary">Réinitialiser</button>
                    </div>
                    {{ form_end(changePasswordForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
