default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\Hook\DoctrineContext
                - App\Tests\Behat\Context\DemoContext
                - App\Tests\Behat\Setup\UserContext
                - App\Tests\Behat\Context\LoginContext
                - App\Tests\Behat\Context\IndexContext
                - App\Tests\Behat\Context\AddCommitmentLogContext
    

                - App\Tests\Behat\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
