{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-flask"></i> Tâches </h1>
    </div>

    {% include '_elements/_flash_message.html.twig' %}

    <ul>
        <li><a href="{{ path('admin_task_week_generator') }}" class="btn btn-outline-primary">Générer semaine</a></li>
        <li><a href="{{ path('admin_task_timeslot_autovalidation') }}" class="btn btn-outline-primary">Autovalider les créneaux</a></li>
        <li><a href="{{ path('admin_task_cycle_debit') }}" class="btn btn-outline-primary">Appliquer le debit de cycle</a></li>
        <li><a href="{{ path('admin_task_timeslot_notification') }}" class="btn btn-outline-primary">Envoyer les notifications de créneaux (5 jours)</a></li>
    </ul>

{% endblock %}
