{% extends 'base.html.twig' %}

{% block title %}Responsable - mes créneaux{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-store"></i> Responsable : mes créneaux </h1>
    </div>

    <h2>Mes créneaux à valider</h2>

    
    <h2>Mes créneaux à venir</h2>

    

{% endblock %}
