{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block body %}
<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fas fa-calendar-alt"></i> Cycle</h1>
</div>

{% include '_elements/_flash_message.html.twig' %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Cycle</th>
            </tr>
        </thead>
        <tbody>
        {% for cycle in cycles %}
            <tr>
                <td><a href="{{ path('schedule_show', {'cycle': cycle.id}) }}">{{ cycle.getName }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">Aucun cycle</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
