<form method="post" action="{{ path('admin_week_delete', {'id': week.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ week.id) }}">
    <button class="btn">Delete</button>
</form>
