{% extends 'base.html.twig' %}

{% block title %}Modification semaine {{ week.getDisplayName }}{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-calendar-alt"></i> Modification semaine #{{week.id}}</h1>
    </div>

    {% include '_elements/_flash_message.html.twig' %}

    {{ include('admin/week/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
