{% extends 'base.html.twig' %}

{% block title %}New Week{% endblock %}

{% block body %}
    <h1>Create new Week</h1>

    {{ include('week/_form.html.twig') }}

    <a href="{{ path('week_index') }}">back to list</a>
{% endblock %}
