{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Krneo{% endblock %}

{% block body %}
<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bienvenue sur <i class="fas fa-user-clock"></i> Kreno</h1>
</div>

<div class="row">
    <div class="col">
    
    </div>
</div>
{% endblock %}
