{% extends 'base.html.twig' %}

{% block title %}Modification créneau modèle #{{ timeslot_template.id }}{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-calendar-alt"></i> Modification créneau modèle #{{ timeslot_template.id }}</h1>
    </div>

    {{ include('admin/timeslot_template/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
