{% extends 'base.html.twig' %}

{% block title %}New Job{% endblock %}

{% block body %}
    <h1>Create new Job</h1>

    {{ include('admin/user_job/_form.html.twig') }}

    <a href="{{ path('admin_user_job_index') }}">back to list</a>
{% endblock %}
