@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import 'layout/header.scss';
@import 'layout/sidebar.scss';

body {
    background-color: rgb(255, 255, 255);
}

.btn-link {
    padding: 0;
}

.time .form-control {
    width: auto;
    display: inline;
    margin-right: 0.5em;
}