{% extends 'base.html.twig' %}

{% block title %}Edit WeekTemplate{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-calendar-alt"></i> Nouveau modèle de semaine</h1>
    </div>

    {{ include('week_template/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
