{% extends 'base.html.twig' %}

{% block title %}Nouvel engagement{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-file-signature"></i> Nouvel engagement</h1>
    </div>

    {% include '_elements/_flashMessage.html.twig' %}

    {{ include('commitment_contract/_form.html.twig') }}

{% endblock %}
