<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kreno{% endblock %}</title>
    
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include '_elements/_header.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                {% include '_elements/_sidebar.html.twig' %}
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
        
        {% include '_elements/_footer.html.twig' %}
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
